<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>133460922700-mu84130bjmo9uf3s3hlvi1oo9tva36rl.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.133460922700-mu84130bjmo9uf3s3hlvi1oo9tva36rl</string>
	<key>API_KEY</key>
	<string>AIzaSyB7HoDzy1oM2qNjW00wQT21HJK4eeHUTk0</string>
	<key>GCM_SENDER_ID</key>
	<string>133460922700</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.fury.FishingPoint</string>
	<key>PROJECT_ID</key>
	<string>fishingpoint-4962d</string>
	<key>STORAGE_BUCKET</key>
	<string>fishingpoint-4962d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:133460922700:ios:02faacae919047c6</string>
	<key>DATABASE_URL</key>
	<string>https://fishingpoint-4962d.firebaseio.com</string>
</dict>
</plist>